
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1E5EE;
    color: #2A324B;
}

header {
    background-color:#E1E5EE;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;   
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 15px;
    margin: 0 auto;
    width: 80%;
    padding-right: 40px;
    flex-direction: row;
    white-space: nowrap;
}

nav button {
    border: none;
    padding-inline: 40px;
    padding-block: 20px;
    color: #fff;
    background-color: #2A324B;
    min-height: 100%;
    font-size: 20px; 
}

nav button.active {
    background-color: #fff;
    color: #2A324B;
}

nav button:hover {
    background-color: #fff;
    color: #2A324B;
}

main {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: left;
    background-color: #fff;
}

#resources h2 {
    font-size: 20px;
    margin-top: 0;
    color: #2A324B;
}

#resources p {
    font-size: 16px;
    margin: 10px 0;
    color: #2A324B
}

#resources ul {
    list-style-type: disc;
    margin-left: 20px;
}

#resources a {
    text-decoration: none;
    color: #58699D;
    font-weight: bold;
}

#resources a:hover {
    text-decoration: underline;
}
